[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pandas = "*"
spacy = "*"
sklearn = "*"
cosine-similarity = "*"
scikit-learn = "*"
python-multipart = "*"
tiktoken = "*"
openai = "*"
transformers = "*"
torch = "*"
tensorflow = "*"
requests = "*"
pypdf = "*"

[dev-packages]
uvicorn = "*"

[requires]
python_version = "3.11"
